#sidebar a.active {
    color: red;
    text-decoration: underline;
  }

  /* ButtonList.css */

  .button-category-A {
    background-color: red;
  }
  
  .button-category-B {
    background-color: blue;
  }